{% extends 'core/base.html' %}
{% load static %}

{% block title %}Categorias{% endblock %}


{% block content %}

<h2 class="text-4xl font-semibold text-slate-200 mb-6 pt-5">Categorias</h2>

<div class="flex justify-between pt-3">

    <!-- Search field -->
    <input
        type="text"
        name="category-name"
        placeholder="Buscar categoria..."
        class="mb-4 p-2 rounded bg-slate-800 text-slate-100 border border-slate-600 w-1/3"
        hx-get="{% url 'category-list' %}"
        hx-target="#category-table"
        hx-trigger="keyup changed delay:200ms"
    />

    <!-- Save button -->
    {% if perms.categories.add_category %}
        <button
            id="save-category"
            class="flex items-center gap-2 bg-green-700 hover:bg-green-800 text-white px-4 py-2 mb-4 rounded"
            hx-get="{% url 'category-create' %}"
            hx-target="#modal-content"
            hx-swap="innerHTML"
            onclick="openModal()"
        >
            <i data-lucide="plus" class="w-5 h-5"></i>
            Nova Categoria
        </button>
    {% endif %}

</div>

<!-- Category list table -->
<div id="category-table">
    {% include 'categories/partials/_category_table.html' %}
</div>

<!-- Modal container -->
<div id="modal" class="fixed inset-0 bg-black bg-opacity-60 hidden flex items-center justify-center z-50">
    <div id="modal-content" class="bg-black-pearl text-slate-100 rounded p-6 w-[500px] border border-slate-600 shadow-lg">
        <!-- Form content injection -->
    </div>
</div>
    
{% endblock %}

{% block extrajs %}
    <script src="{% static 'categories/js/category-modal.js' %}"></script>
{% endblock extrajs %}