{% extends 'core/base.html' %}
{% load static %}


{% block title %}Inventory Flow - Home{% endblock %}
    

{% block content %}
    
    {% include 'core/partials/_products_metrics.html' %}
    {% include 'core/partials/_sales_metrics.html' %}

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-6">
        <!-- chart 1 -->
        <div class="bg-slate-800 rounded-xl p-6">
            <h2 class="text-xl font-semibold mb-2">Vendas dos Últimos 7 Dias</h2>
            <canvas id="dailySalesChart"></canvas>
        </div>

        <!-- chart 2 -->
        <div class="bg-slate-800 rounded-xl p-6">
            <h2 class="text-xl font-semibold mb-2">Quantidade de Vendas Diárias</h2>
            <canvas id="dailySalesQuantityChart"></canvas>
        </div>

        <!-- chart 3 -->
        <div class="bg-slate-800 rounded-xl p-6">
            <h2 class="text-xl font-semibold mb-2">Item 3</h2>
            <p>Conteúdo do item 3</p>
        </div>

        <!-- chart 4 -->
        <div class="bg-slate-800 rounded-xl p-6">
            <h2 class="text-xl font-semibold mb-2">Item 4</h2>
            <p>Conteúdo do item 4</p>
        </div>
    </div>

{% endblock content %}


{% block extrajs %}
    <script src="{% static 'core/js/charts.js' %}"></script>
{% endblock %}
