{% load static %}
{% if outflows %}
    <table class="w-full text-left border-collapse">
        <thead class="bg-slate-800 text-slate-200 border border-slate-700">
            <tr>
                <th class="px-4 py-2 border border-slate-700">ID</th>
                <th class="px-4 py-2 border border-slate-700">Produto</th>
                <th class="px-4 py-2 border border-slate-700">Quantidade</th>
                <th class="px-4 py-2 border border-slate-700">Descrição</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-slate-700">
            {% for outflow in outflows %}
            <tr class="hover:bg-slate-700 cursor-pointer" data-href="{% url 'outflow-detail' outflow.id %}">
                <td class="px-4 py-2 border border-slate-700">{{ outflow.id }}</td>
                <td class="px-4 py-2 border border-slate-700">{{ outflow.product.title }}</td>
                <td class="px-4 py-2 border border-slate-700">{{ outflow.quantity }}</td>
                <td class="px-4 py-2 border border-slate-700">{{ outflow.description|default:"Não há descrição" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="text-slate-400">Nenhuma entrada encontrada.</p>
{% endif %}

{% block extrajs %}
    <script src="{% static 'core/js/table-row-navigation.js' %}"></script>
{% endblock %}

{% include 'core/partials/_pagination_controls.html' with page_obj=page_obj target_id_table="outflow-table" %}
