{% load static %}
{% if suppliers %}
    <table class="w-full text-left border-collapse table-fixed">
        <thead class="bg-slate-800 text-slate-200 border border-slate-700">
            <tr>
                <th class="px-4 py-2 border border-slate-700 w-16">ID</th>
                <th class="px-4 py-2 border border-slate-700 w-1/4">Nome</th>
                <th class="px-4 py-2 border border-slate-700">Descrição</th>
                <th class="px-4 py-2 border border-slate-700 w-32">Ações</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-slate-700">
            {% for supplier in suppliers %}
            <tr class="hover:bg-slate-700 cursor-pointer" data-href="{% url 'supplier-detail' supplier.id %}">
                <td class="px-4 py-2 border border-slate-700">{{ supplier.id }}</td>
                <td class="px-4 py-2 border border-slate-700">{{ supplier.name }}</td>
                <td class="px-4 py-2 border border-slate-700">{{ supplier.description|default:"Não há descrição" }}</td>
                <td class="px-4 py-2 border border-slate-700">

                    <div class="flex gap-2">
                        <!-- update button -->
                        <button 
                            hx-get="{% url 'supplier-update' supplier.id %}"
                            hx-target="#modal-content"
                            hx-swap="innerHTML"
                            onclick="event.stopPropagation(); openModal()"
                            class="bg-indigo-600 hover:bg-indigo-700 text-white p-2 rounded"
                        >
                            <i data-lucide="pencil" class="w-5 h-5"></i>
                        </button>
                        
                        <!-- delete button -->
                        <button 
                            hx-get="{% url 'supplier-delete' supplier.id %}"
                            hx-target="#modal-content"
                            hx-swap="innerHTML"
                            onclick="event.stopPropagation(); openModal()"
                            class="bg-rose-600 hover:bg-rose-700 text-white p-2 rounded"
                        >
                            <i data-lucide="trash-2" class="w-5 h-5"></i>
                        </button>
                    </div>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="text-slate-400">Nenhum fornecedor encontrado.</p>
{% endif %}

{% block extrajs %}
    <script src="{% static 'core/js/table-row-navigation.js' %}"></script>
{% endblock %}

{% include 'core/partials/_pagination_controls.html' with page_obj=page_obj target_id_table="supplier-table" %}
