{% extends 'core/base.html' %}
{% load static %}

{% block title %}Entradas{% endblock %}


{% block content %}

<h2 class="text-4xl font-semibold text-slate-200 mb-6 pt-5">Entradas</h2>

<div class="flex justify-between pt-3">


    <!-- Search field -->
    <input
        type="text"
        product="product-name"
        placeholder="Buscar produto..."
        class="mb-4 p-2 rounded bg-slate-800 text-slate-100 border border-slate-600 w-1/3"
        hx-get="{% url 'inflow-list' %}"
        hx-target="#inflow-table"
        hx-trigger="keyup changed delay:200ms"
    />

    {% if perms.inflows.add_inflow %}
        <!-- Save button -->
        <button
            id="save-inflow"
            class="flex items-center gap-2 bg-green-700 hover:bg-green-800 text-white px-4 py-2 mb-4 rounded"
            hx-get="{% url 'inflow-create' %}"
            hx-target="#modal-content"
            hx-swap="innerHTML"
            onclick="openModal()"
        >
            <i data-lucide="plus" class="w-5 h-5"></i>
            Nova Entrada
        </button>
    {% endif %}

</div>

<!-- inflow list table -->
<div id="inflow-table">
    {% include 'inflows/partials/_inflow_table.html' %}
</div>

<!-- Modal container -->
<div id="modal" class="fixed inset-0 bg-black bg-opacity-60 hidden flex items-center justify-center z-50">
    <div id="modal-content" class="bg-black-pearl text-slate-100 rounded p-6 w-[500px] border border-slate-600 shadow-lg">
        <!-- Form content injection -->
    </div>
</div>
    
{% endblock %}

{% block extrajs %}
    <script src="{% static 'inflows/js/inflow-modal.js' %}"></script>
{% endblock extrajs %}